body {
  margin: 0 auto;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin: 10px;
}

img {
  width: 100%;
}

.aspect-ratio-43 {
  position: relative;
}

.aspect-ratio-169 {
  position: relative;
}

.aspect-ratio-43::after {
  display: block;
  content: '';
  /* 4:3 aspect ratio */
  padding-bottom: 75%;
}

.aspect-ratio-169::after {
  display: block;
  content: '';
  /* 16:9 aspect ratio */
  padding-bottom: 56.25%;
}

img.aspect-ratio-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
